# Function Practice Exercises

#### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

In [1]:
def lesser_of_two_evens(a,b):
    if a % 2 == 0 and b % 2 == 0:
        return min(a,b)
    else:
        return max(a,b)
    pass

In [2]:
# Check
lesser_of_two_evens(2,4)

2

In [3]:
# Check
lesser_of_two_evens(2,5)

5

#### ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

In [64]:
def animal_crackers(text):
    text_Arr = text.lower().split()
    return text_Arr[0][0] == text_Arr[1][0]

In [65]:
# Check
animal_crackers('Levelheaded Llama')

True

In [66]:
# Check
animal_crackers('Crazy Kangaroo')

False

#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

In [7]:
def makes_twenty(n1,n2):
    return n1 == 20 or n2 == 20 or (n1 + n2) == 20

In [8]:
# Check
makes_twenty(20,10)

True

In [9]:
# Check
makes_twenty(2,3)

False

In [10]:
makes_twenty(12, 8)

True

#### OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
     
    old_macdonald('macdonald') --> MacDonald
    
Note: `'macdonald'.capitalize()` returns `'Macdonald'`

In [11]:
def old_macdonald(name):
    if len(name) > 3:
        return name[:3].capitalize() + name[3:].capitalize()
    else:
        return 'The name only has 3 letters'

In [12]:
# Check
old_macdonald('macdonald')

'MacDonald'

#### MASTER YODA: Given a sentence, return a sentence with the words reversed

    master_yoda('I am home') --> 'home am I'
    master_yoda('We are ready') --> 'ready are We'

In [13]:
def master_yoda(text):
    word = text.split()
    word.reverse()
    return ' '.join(word)

In [14]:
# Check
master_yoda('I am home')

'home am I'

In [15]:
# Check
master_yoda('We are ready')

'ready are We'

#### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True

In [16]:
def almost_there(n):
    return abs(100 - n) <= 10 or abs(200 - n) <= 10
    pass

In [17]:
# Check
almost_there(104)

True

In [18]:
# Check
almost_there(150)

False

In [19]:
# Check
almost_there(209)

True

In [20]:
almost_there(90)

True

#### FIND 33: 

Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

    has_33([1, 3, 3]) → True
    has_33([1, 3, 1, 3]) → False
    has_33([3, 1, 3]) → False

In [84]:
def has_33(nums):
    for n in range(0, len(nums)-1):
        if nums[n:n+2] == [3,3]:
            return True
    return False

In [85]:
# Check
has_33([1, 3, 3])

True

In [86]:
# Check
has_33([1, 3, 1, 3])

False

In [87]:
# Check
has_33([3, 1, 3])

False

In [88]:
has_33([3, 1, 3, 3, 1])

True

#### PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
    paper_doll('Hello') --> 'HHHeeellllllooo'
    paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [25]:
def paper_doll(text):
    word  = ''
    for x in text:
        word += (x * 3)
    return word

In [26]:
# Check
paper_doll('Hello')

'HHHeeellllllooo'

In [27]:
# Check
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

#### BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 *and* there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19

In [28]:
def blackjack(a,b,c):
    sum = a + b + c
    if sum <= 21:
        return sum
    elif sum > 21 and 11 in (a,b,c):
        return sum - 10
    else:
        return 'BUST'

In [29]:
# Check
blackjack(5,6,7)

18

In [30]:
# Check
blackjack(9,9,9)

'BUST'

In [31]:
# Check
blackjack(9,9,11)

19

#### SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.
 
    summer_69([1, 3, 5]) --> 9
    summer_69([4, 5, 6, 7, 8, 9]) --> 9
    summer_69([2, 1, 6, 9, 11]) --> 14

In [44]:
def summer_69(arr):
    sum = 0
    add = True
    for n in arr:
        while add:
            if n != 6:
                sum += n
                break
            else:
                add = False
        while not add:
            if n != 9:
                break
            else:
                add = True
                break
    return sum

In [45]:
# Check
summer_69([1, 3, 5])

9

In [46]:
# Check
summer_69([4, 5, 6, 7, 8, 9])

9

In [47]:
# Check
summer_69([2, 1, 6, 9, 11])

14

#### SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order

     spy_game([1,2,4,0,0,7,5]) --> True
     spy_game([1,0,2,4,0,5,7]) --> True
     spy_game([1,7,2,0,4,5,0]) --> False

In [89]:
def spy_game(nums):
    code = [0,0,7, '#']
    for n in nums:
        if n == code[0]:
            code.pop(0)
    return len(code) == 1

In [90]:
# Check
spy_game([1,2,4,0,0,7,5])

True

In [91]:
# Check
spy_game([1,0,2,4,0,5,7])

True

In [92]:
# Check
spy_game([1,7,2,0,4,5,0])

False

#### COUNT PRIMES: Write a function that returns the *number* of prime numbers that exist up to and including a given number
    count_primes(100) --> 25

By convention, 0 and 1 are not prime.

In [123]:
def count_primes(num):
    if num < 2:
        return 0
    primes = [2]
    x = 3
    
    while x <= num: 
        #for y in range (3,x,2):
        for y in primes:
            if x%y == 0:
                x+=2
                break
        else:
            primes.append(x)
            x+=2
    print(primes)
    return len(primes)

In [124]:
# Check
count_primes(100)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

25

### Just for fun:
#### PRINT BIG: Write a function that takes in a single letter, and returns a 5x5 representation of that letter
    print_big('a')
    
    out:   *  
          * *
         *****
         *   *
         *   *
HINT: Consider making a dictionary of possible patterns, and mapping the alphabet to specific 5-line combinations of patterns. <br>For purposes of this exercise, it's ok if your dictionary stops at "E".

In [29]:
def print_big(letter):
    patterns = {1:'  *  ', 2:' * * ', 3:'*   *', 4:'**** ', 5: '*****', 6:'   * ', 7:' *  ',8:'*  * ', 9:'*    '}
    alpha = {'A':[1,2,2,5,2], 'B': [4,3,4,3,4], 'C':[5,9,9,9,5],'D':[4,3,3,3,4], 'E':[5,9,4,9,5], 'F':[5,9,4,9,9]}
    for pat in alpha[letter.upper()]:
        print(patterns[pat])

In [30]:
print_big('f')

*****
*
****
*
*

# *args and **kwargs

In [31]:
def myfunc(*args):
    return sum(args)

In [32]:
myfunc(10,5,2,4)

21

In [33]:
def myfunc(*args):
    return [x for x in args if x%2 ==0]

In [35]:
myfunc(1, 2, 3, 4, 5, 6, 7, 8, 9)

[2, 4, 6, 8]

In [37]:
def myfunc(**kwargs):
    if 'fruit' in kwargs:
        print(f"My favorite fruit is {kwargs['fruit']}")  # review String Formatting and f-strings if this syntax is unfamiliar
    else:
        print("I don't like fruit")
        
myfunc(food='pineapple')

I don't like fruit

In [39]:
def myf(*args, **kwargs):
    if 'fruit' and 'juice' in kwargs:
        print(f"I like {' and '.join(args)} and my favorite fruit is {kwargs['fruit']}")
        print(f"May I have some {kwargs['juice']} juice?")
    else:
        pass
        
myf('eggs','spam',fruit='cherries',juice='orange')

I like eggs and spam and my favorite fruit is cherries
May I have some orange juice?

In [44]:
def myf(*args, **kwargs):
    print(args)
    print(kwargs)
    print(f"I would like {args[0]} {kwargs['food']}")
    
myf(10,20,30, fruit='apple', food = 'pizza', drink = 'oj')

(10, 20, 30)
{'fruit': 'apple', 'food': 'pizza', 'drink': 'oj'}
I would like 10 pizza

In [63]:
#skyline
def skyline(word):
    result = ''
    for x in range(0,len(word)):
        if x %2 == 0:
            result += word[x].upper()
        else: 
            result += word[x]
    return result
skyline('apple')

'ApPlE'