# Functions and Methods
____
**Write a function that computes the volume of a sphere given its radius.**
<p>The volume of a sphere is given as $$\frac{4}{3} Ï€r^3$$</p>

In [7]:
def vol(rad):
    return (4/3)*3.14*(rad**3)

In [8]:
# Check
vol(2)

33.49333333333333

___
**Write a function that checks whether a number is in a given range (inclusive of high and low)**

In [21]:
def ran_check(num,low,high):
    if num in range(low, high+1):
        print(f'{num} is in between {low} and {high}')
    else:
        print('Not in range')

In [26]:
# Check
ran_check(5,2,7)

5 is in between 2 and 7

If you only wanted to return a boolean:

In [27]:
def ran_bool(num,low,high):
    return num in range(low, high+1)

In [28]:
ran_bool(3,1,10)

True

____
**Write a Python function that accepts a string and calculates the number of upper case letters and lower case letters.**

    Sample String : 'Hello Mr. Rogers, how are you this fine Tuesday?'
    Expected Output : 
    No. of Upper case characters : 4
    No. of Lower case Characters : 33

In [37]:
def up_low(s):
    up = 0
    lo = 0
    for x in s:
        if x.isupper():
            up += 1
        elif x.islower():
            lo += 1
    print(f'{s}\nNo. of Upper Case Letters: {up}\nNo. of Lower Case Letters: {lo}')

s = 'Hello Mr. Rogers, how are you this fine Tuesday?'
up_low(s)

Hello Mr. Rogers, how are you this fine Tuesday?
No. of Upper Case Letters: 4
No. of Lower Case Letters: 33

In [8]:
s = 'Hello Mr. Rogers, how are you this fine Tuesday?'
up_low(s)

Original String :  Hello Mr. Rogers, how are you this fine Tuesday?
No. of Upper case characters :  4
No. of Lower case Characters :  33

____
**Write a Python function that takes a list and returns a new list with unique elements of the first list.**

    Sample List : [1,1,1,1,2,2,3,3,3,3,4,5]
    Unique List : [1, 2, 3, 4, 5]

In [32]:
def unique_list(lst):
    return [x for x in set(lst)]
unique_list([1,1,1,1,2,2,3,3,3,3,4,5])

[1, 2, 3, 4, 5]

In [38]:
def unique_list(lst):
    return list(set(lst))
unique_list([1,1,1,1,2,2,3,3,3,3,4,5])

[1, 2, 3, 4, 5]

In [10]:
unique_list([1,1,1,1,2,2,3,3,3,3,4,5])

[1, 2, 3, 4, 5]

____
**Write a Python function to multiply all the numbers in a list.**

    Sample List : [1, 2, 3, -4]
    Expected Output : -24

In [39]:
def multiply(numbers):  
    total = 1
    for x in numbers:
        total *= x
    return total
multiply([1,2,3,-4])

-24

In [12]:
multiply([1,2,3,-4])

-24

____
**Write a Python function that checks whether a passed in string is palindrome or not.**

Note: A palindrome is word, phrase, or sequence that reads the same backward as forward, e.g., madam or nurses run.

In [21]:
def palindrome(s):
    s = s.replace(' ','')
    return s == s[::-1]

palindrome('race car')

True

In [14]:
palindrome('helleh')

True

____

**Write a Python function to check whether a string is pangram or not.**

    Note : Pangrams are words or sentences containing every letter of the alphabet at least once.
    For example : "The quick brown fox jumps over the lazy dog"

Hint: Look at the string module

In [72]:
import string

def ispangram(str1, alphabet=string.ascii_lowercase):
    alpha = set(alphabet)
    word = set(str1.lower())
    print(word)
    print(alpha)
    return alpha <= word

In [73]:
ispangram("The quick brown fox jumps over the lazy dog")

{'x', 'm', 'z', 'u', 'c', 'w', 'k', 'h', 'j', 'q', 'd', 'e', 'v', 's', 'p', 'b', 'a', 'i', 'r', 't', ' ', 'l', 'n', 'g', 'y', 'o', 'f'}
{'x', 'm', 'z', 'u', 'c', 'w', 'k', 'h', 'd', 'j', 'q', 'f', 'e', 'v', 'p', 'b', 'a', 'i', 'r', 't', 'l', 'g', 'n', 'y', 'o', 's'}

True

In [16]:
ispangram("The quick brown fox jumps over the lazy dog")

True

In [17]:
string.ascii_lowercase

'abcdefghijklmnopqrstuvwxyz'